#jumbotron{

    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;

}


#sensores-container{
    
    margin-top: 10px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 20px;
}